@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');
@import './utils.scss';

:root {
	--active-color-value: 51, 153, 255;
	--border-radius: 0;
	--input-height: 40px;

	--input-border-color: #ccc;
	@include reloadActiveColor;
}

* {
	box-sizing: border-box;
	font-family: 'Inter', serif;
	margin: 0;
	padding: 0;
}

a {
	color: var(--active-color);
	font-weight: bold;
	text-decoration: none;
}