.page {
	display: flex;
	flex-direction: column;
	gap: 14px;
	padding: 14px;

	section {
		background-color: #fff;
		box-shadow: #aaa 0 1px 4px;
		display: flex;
		flex-direction: column;
		gap: 14px;
		padding: 14px;
	}
}